/**
* ## Buttons
*
* ### Default Button
*
* Use the `.btn` class with the `.btn-default` modifier to style any object like a button.
*
*   @example
*   a.btn.btn-default Link Button
*   button.btn.btn-default Native Button
*   div.btn.btn-default Div Button
*/

.btn {
  background-color: $white;
  border: 6px solid $black;
  color: $black;
  font-family: $font-family-sans-serif-heavy;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: .9em;
  padding: 12px 36px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: inherit !important;

  &.full-width {
    width: auto;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    color: $black;
    border-color: $light-grey-1;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    padding: 15px 6%;
  }
}

/**
* ### Primary Button
*
* Use the `.btn-primary` modifier to style any object like a Primary button.
*
*   @example
*   a.btn.btn-primary Primary Link Button
*   button.btn.btn-primary Primary Native Button
*   div.btn.btn-primary Primary Div Button
*/
.btn-primary {
  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    color: $black;
    border-color: $light-grey-1;
  }
}

/**
* ### Secondary Button
*
* Use the `.btn-secondary` modifier to style any object like a Secondary button.
*
*   @example
*   a.btn.btn-secondary Secondary Link Button
*   button.btn.btn-secondary Secondary Native Button
*   div.btn.btn-secondary Secondary Div Button
*/
.btn-secondary {

}

/**
* ### Toggle Group
*
* Use the '.toggle-group' and '.btn-toggle' modifiers to style any object like a Toggle group.
*
*   @example w/ radio buttons
*   .btn-group.toggle-group#units-toggle(data-toggle='buttons')
*     label.btn.btn-toggle.active
*       input#inches(type='radio', name='units', autocomplete='off', checked)
*       | Inches
*     label.btn.btn-toggle
*       input#centimeters(type='radio', name='options', autocomplete='off')
*       | Centimeters
*/

.toggle-group {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  .btn-toggle {
    border: 1px solid $grey-5;
    color: #000;
    font-family: $font-family-sans-serif;
    font-size: .92em;
    height: 3.55em;
    letter-spacing: 1px;
    line-height: 3.55em;
    padding: 0 1.66em;
    text-transform: none;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }
}
/**
* ### Disabled Button
*
* Use the `.btn-disabled` modifier to style any object like a Disabled button.
*
*   @example
*   a.btn.btn-disabled Disabled Link Button
*   button.btn.btn-disabled Disabled Native Button
*   div.btn.btn-disabled Disabled Div Button
*/
.btn-disabled {
  color: $light-grey-1;
  border-color: $light-grey-1;

  &:hover,
  &:focus,
  &.hover,
  &.focus,
  &:active {
    color: $light-grey-1;
    border-color: $light-grey-1;
  }
}

@media (max-width: $screen-xs-max){
  .btn {
    padding: 16px 0px;
  }
  .btn-primary {
    font-size: 14px;
    line-height: 14px;
  }

  .btn-secondary, btn-default, .btn-disabled {
    font-size: 1em;
    line-height: 14px;
  }
}

.btn--toggle {
  padding-left: 15px;
  padding-right: 15px;
}

.btn--full-width {
  width: 100%;
}

/**
* ### Twitter and Facebook Buttons
*
* Use the `.btn--twitter-sign-in` or `.btn--facebook-sign-in` modifiers to style any object like a Twitter or Facebook Sign-In button respectively.
*
*   @example
*   a.btn.btn--twitter-sign-in Sign In With Twitter
*   a.btn.btn--facebook-sign-in Sign In With Facebook
*/
.btn--twitter-sign-in,
.btn--facebook-sign-in {
  background-color: $white;
  color: $black;
}

.btn--facebook-sign-in {
  border: 3px solid #3b5998;
}

.btn--twitter-sign-in {
  border: 3px solid #4099ff;
}
