$font-path: '/css/fonts/';

// Typography
$font-family-sans-serif:        "Gotham 4r", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-heavy:  "Gotham 7r", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-light:  "Gotham 3r", Helvetica, Arial, sans-serif !default;
$font-family-serif:             "Caslon 540 LT W01 Roman", Georgia, serif !default;
$font-family-serif-italic:      "Caslon540LTW01-Italic", Georgia, serif !default;
$font-family-serif-light:       "Caslon #540 W01SC Rm SC", Georgia, serif !default;
$font-family-men-headline:      "DinDot", Helvetica, sans-serif !default;

$font-family-base: $font-family-sans-serif-light !default;
$font-size-base:   11px !default;

$line-height-serif: .72em;
$line-height-sans-serif: .75em;
$bottom-spacing: 2rem;


/* colors */
$color-accent : #ccc;
$color-bg     : #ccc;
$color-menu-border : #ccc;

$disabled-text: #b2b2b2;
$grey-text: #707070;

// warm grey palette
$grey-1: #f8f7f6;
$grey-2: #f1efed;
$grey-3: #e6e2de;
$grey-4: #d8d3cd;
$grey-5: #c3beba;
$grey-6: #aaa39f;
$grey-7: #8b8481;
$grey-8: #5c5754;
$black : #000;

/* Icons */
$icon-xs: 24px;
$icon-sm: 36px;


/* mixins -- temporary location */
@mixin form-control {
  background: $grey-2;
  box-shadow: none;
  border-color: $grey-5;
  color: #000;
  font-family: $font-family-sans-serif;
  font-size: .92em;
  height: 3.6em;
  letter-spacing: 1px;
  line-height: 3.6em;
  padding: 0 1em;
  text-transform: none;
  white-space: nowrap;
}

/* Responsive Breakpoints */
$screen-xs-max: 700px;
$screen-sm-min: ($screen-xs-max + 1);
$screen-sm-max: 1020px;
$screen-md-min: ($screen-sm-max+1);
$screen-md-max: 1440px;
$screen-lg-min: ($screen-md-max+1);
