@import "./app/core/assets/stylesheets/fonts";
@import "./app/core/assets/stylesheets/variables";

@import "base/variables";
// @import "helpers/functions";
@import "helpers/mixins";

@import "base/base";
@import "base/typography";
@import "base/fonts";
@import "base/print";

/************************
*	Content
*************************/
@import "components/content/alerts";
@import "components/content/buttons";
@import "components/content/forms";
@import "components/content/icons";
@import "components/content/links";

/************************
*	Layout
*************************/
@import "components/layout/grid";
@import "components/layout/h-list";
@import "components/layout/padded-box";
@import "components/layout/table-cols";
@import "components/layout/two-col";
@import "components/layout/v-list";

/************************
*	Widget
*************************/
@import "components/widget/box-toggle";
@import "components/widget/footer";
@import "components/widget/header";
@import "components/widget/image-link-grid";
@import "components/widget/kor-modal";
@import "components/widget/order-summary";
@import "components/widget/payment-methods";
@import "components/widget/shopping-bag-box";
@import "components/widget/shopping-bag-item";
// @import "checkout/components/widget/slick-carousel";
@import "components/widget/tabs-panel";
@import "components/widget/text-divider";
@import "components/widget/tooltips";
@import "components/widget/wizard";


a {
  color: #000;
  text-decoration: underline;

  &:focus {
    outline: none;
  }
}

/* temporary BS fix */
.nav {
  &::after {
    clear: none;
  }

  &.nav-tabs {
    &::after {
      clear: both;
    }
  }
}

@import "mk-bs-overrides";
