/* Brand Guidelines Typography */
$font-guide-light		: 'Roboto Light', Helvetica, Arial, sans-serif;
$font-guide-normal	: 'Roboto Regular', Helvetica, Arial, sans-serif;
$font-guide-heavy		: 'Roboto Bold', Helvetica, Arial, sans-serif;

/* MK Typography */
$font-mk-light	: 'Gotham 3r', Helvetica, Arial, sans-serif;
$font-mk-normal	: 'Gotham 4r', Helvetica, Arial, sans-serif;
$font-mk-heavy	: 'Gotham 7r', Helvetica, Arial, sans-serif;

/* Colors */
$color-divider: rgba(138, 138, 138, 0.1);
