@import "fonts";

/* Brand Guidelines Typography */
$font-guide-light		: 'Roboto Light', Helvetica, Arial, sans-serif;
$font-guide-normal	: 'Roboto Regular', Helvetica, Arial, sans-serif;
$font-guide-heavy		: 'Roboto Bold', Helvetica, Arial, sans-serif;

/* MK Typography */
$font-mk-light	: 'Gotham 3r', Helvetica, Arial, sans-serif;
$font-mk-normal	: 'Gotham 4r', Helvetica, Arial, sans-serif;
$font-mk-heavy	: 'Gotham 7r', Helvetica, Arial, sans-serif;

/* Colors */
$color-divider: rgba(138, 138, 138, 0.1);

html, body {
  font-family: $font-guide-normal;
  font-size: 11px;
}

@import "nav";

/* Content */
#style-guide-content {

  margin-left: 396px;
  padding-top: 161px;

	h1 {
		font-family: $font-guide-light;
		font-size: 38px;
		font-weight: normal;
		line-height: 1.4em;
		margin-bottom: .45em;
	}

	#introduction {
		margin-bottom: 74px;
		padding-left: 50px;

		p {
			font-size: 18px;
			line-height: 1.667em;
		}
	}

	.subcategory {
		h1 {
			font-family: $font-guide-normal;
		  font-size: 20px;
			font-weight: normal;
		  margin-bottom: .5em;
		  text-transform: uppercase;
		}

		> article {
			border-top: 10px solid $color-divider;
			min-height: 500px;

			& > h1 {
				line-height: 2em;
				text-transform: none;
			}
		}
	}
}

article {
	section {
	  margin-bottom: 2em;

		p {
			line-height: 1.727272em;
		}

		img {
			max-width: 100%;
		}
	}

}
