@import 'fonts';
@import 'variables';

html, body {
  font-family: $font-guide-normal;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

@import "nav";

/* Content */
#style-guide-content {

  margin-left: 396px;
  padding-top: 161px;

	h1 {
		font-family: $font-guide-light;
		font-size: 38px;
		font-weight: normal;
		line-height: 1.4em;
		margin-bottom: .45em;
	}

	#introduction {
		margin-bottom: 74px;
		padding-left: 50px;

		p {
			font-size: 18px;
			line-height: 1.667em;
		}
	}

	.subcategory {
		h1 {
			font-family: $font-guide-normal;
		  font-size: 20px;
			font-weight: normal;
		  margin-bottom: .5em;
		  text-transform: uppercase;
		}

		> article {
			border-top: 10px solid $color-divider;
			margin-bottom: 100px;

			& > h1 {
				line-height: 2em;
				text-transform: none;
			}
		}
	}
}

.section-content {
  margin-left: 6.5%;
  margin-top: 5.25em;

  .row {
    margin-bottom: 58px;
  }

  .card {
    margin: 0 auto;
    width: 80%;

    img {
      margin-bottom: 20px;
			max-width: 100%;
		}
  }

  h2 {
    font-family: $font-guide-heavy;
    font-size: 1.275em;
    text-transform: none;
    margin-bottom: 1em;
  }

  p {
    font-family: $font-guide-normal;
    font-size: 1.275em;
  }

  .section-intro {
    line-height: 1.63em;
    width: 85%;
  }

  .downloads {
    margin-top: 80px;

    a {
      background: url('/images/icon-download.png') no-repeat left 3px;
      color: #000;
      display: block;
      font-family: $font-guide-heavy;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 14px;
      margin-bottom: 1.5em;
      padding-left: 19px;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  .donts {
    border: 1px solid #f0f0f0;

    h3 {
      background: #f0f0f0;
    }
  }
}
