@import 'fonts';
@import 'variables';

html, body {
  font-family: $font-guide-normal;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
}

@import "nav";

/* Content */
#style-guide-content {

  margin-left: 396px;
  padding-top: 161px;

	h1 {
		font-family: $font-guide-light;
		font-size: 38px;
		font-weight: normal;
		line-height: 1.4em;
		margin-bottom: .45em;
	}

	#introduction {
		margin-bottom: 74px;
		padding-left: 50px;

		p {
			font-size: 18px;
			line-height: 1.667em;
		}
	}

	.subcategory {
		h1 {
			font-family: $font-guide-normal;
		  font-size: 20px;
			font-weight: normal;
		  margin-bottom: .5em;
		  text-transform: uppercase;
		}

		> article {
			border-top: 10px solid $color-divider;
			margin-bottom: 100px;
      position: relative;

			& > h1 {
				line-height: 2em;
				text-transform: none;
			}
		}
	}
}

.section-content {
  margin-left: 6.5%;
  margin-top: 5.25em;

  .row {
    margin-bottom: 58px;
  }

  .card {
    margin: 0 auto;
    width: 80%;

    img {
      margin-bottom: 20px;
			max-width: 100%;
		}
  }

  h2 {
    font-family: $font-guide-heavy;
    font-size: 1.275em;
    text-transform: none;
    margin-bottom: 1em;
  }

  p {
    font-family: $font-guide-normal;
    font-size: 1.275em;
  }

  .section-intro {
    line-height: 1.63em;
    width: 85%;
  }

  .downloads {
    margin-top: 80px;

    a {
      background: url('/images/icon-download.png') no-repeat left 3px;
      color: #000;
      display: block;
      font-family: $font-guide-heavy;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 14px;
      margin-bottom: 1.5em;
      padding-left: 19px;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  .donts {
    border: 1px solid #f0f0f0;

    h3 {
      background: #f0f0f0;
      font-family: $font-guide-heavy;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 34px;
      padding: 0 18px;
      text-transform: uppercase;
    }
  }

  .color-swatch {
    h2 {
      border-radius: 3px 3px 0 0;
      color: #fff;
      font-size: 11px;
      margin-bottom: 0;
      padding: 70px 10px 8px;
      text-transform: uppercase;
    }

    &#black {
      h2 {
        background-color: $color-black;
      }
    }

    &#camel {
      h2 {
        background-color: $color-camel;
        color: $color-black;
      }
    }

    &#cool-grey {
      h2 {
        background-color: $color-cool-grey;
      }
    }

    &#gold {
      h2 {
        background-color: $color-gold;
      }
    }

    .values {
      border: 1px solid #ebebeb;
      border-radius: 0 0 3px 3px;
      margin-bottom: 1em;
      padding: 8px 10px 10px 10px;

      & > div {
        margin-bottom: 2px;
      }
    }

    label {
      color: rgba(51, 51, 51, 0.5);
      display: inline-block;
      font-family: $font-guide-heavy;
      margin-bottom: 0;
      margin-right: 1em;
      width: 34px;
      text-align: right;
      text-transform: uppercase;
    }

  }
}
