#sidebar-wrapper
  #sidebar-brand
    a(href='#')
      img(src='images/digital-guide-logo.png')
  ul#main-nav.sidebar-nav(role='tablist')
    li.category#intro
      a(href='#introduction')
        | Introduction
    li.category
      a.collapsed(data-toggle='collapse', data-parent='main-nav', href='#identity', role='tab')
        | IDENTITY
      ul#identity.collapse(role='tabpanel')
        li.subcategory
          a.collapsed(href='#logos', data-toggle='collapse', data-parent='identity', role='tab')
            | Logos
          ul#logos.panel-collapse.collapse(role='tabpanel')
            li.section
              a(href='#logo-michael-kors') Michael Kors
            li.section
              a(href='#logo-mmk') Michael Michael Kors
            li.section
              a(href='#logo-collection') Michael Kors Collection
            li.section
              a(href='#logo-dot-com') MichaelKors.com
        li.subcategory
          a.collapsed(href='#branded-elements', data-toggle='collapse', data-parent='identity', role='tab')
            | Branded Elements
          ul#branded-elements.panel-collapse.collapse(role='tabpanel')
            li.section
              a(href='#branded-signatures') Signatures (3X)
            li.section
              a(href='#branded-exclusively-ours') Exclusively Ours / badge
            li.section
              a(href='#branded-mmh') Michael's Must Haves / badge
        li.subcategory
          a.collapsed(href='#color', data-toggle='collapse', data-parent='identity', role='tab') Color
          ul#color.panel-collapse.collapse(role='tabpanel')
            li.section
              a(href='#color-primary') Primary
            li.section
              a(href='#color-secondary') Secondary
            li.section
              a(href='#color-background') Background Colors
        li.subcategory
          a.collapsed(href='#typography', data-toggle='collapse', data-parent='identity', role='tab') Typography
          ul#typography.panel-collapse.collapse(role='tabpanel')
            li.section
              a(href='#typography-primary') Primary
        li.subcategory
          a.collapsed(href='#photography', data-toggle='collapse', data-parent='identity', role='tab') Photography
          ul#photography.panel-collapse.collapse(role='tabpanel')
            li.section
              a(href='#photography-portraits') Michael's Portraits
            li.section
              a(href='#photography-grid') Grid
        li.subcategory
          a.collapsed(href='#copy') Copy

    li.category
      a.collapsed(data-toggle='collapse', data-parent='main-nav', href='#templates', role='tab') 
        | TEMPLATES
      ul#templates.collapse(role='tabpanel')
        li.subcategory
          a.collapsed(href='#desktop', data-toggle='collapse', data-parent='templates', role='tab') 
            | Desktop
          ul#desktop.collapse(role='tabpanel')
            li.section
              a(href='#templates-desktop-homepage') Homepage
            li.section
              a(href='#templates-desktop-plp') PLP
        li.subcategory
          a(href='#mobile', data-toggle='collapse', data-parent='templates', role='tab') 
            | Mobile
          ul#mobile.collapse(role='tabpanel')
            li.section
              a(href='#templates-mobile-homepage') Homepage
            li.section
              a(href='#templates-mobile-plp') PLP
        li.subcategory
          a(href='#email', data-toggle='collapse', data-parent='templates', role='tab') 
            | Email
          ul#email.collapse(role='tabpanel')
            li.section
              a(href='#templates-email-nav') Nav + Drop Shadow
            li.section
              a(href='#templates-email-footer') Footer
            li.section
              a(href='#templates-email-ebm') EBM Templates

    li.category
      a.collapsed(data-toggle='collapse', data-parent='main-nav', href='#user-interface', role='tab')
        | USER INTERFACE
      ul#user-interface.collapse(role='tabpanel')
        li.subcategory
          a(href='#navigation', data-toggle='collapse', data-parent='user-interface', role='tab')
            | Navigation
          ul#navigation.collapse(role='tabpanel')
            li.section
              a(href='#ui-navigation-eu') European Considerations
            li.section
              a(href='#ui-') Sticky Top Nav
            li.section
              a(href='#') Sticky Bottom Nav
            li.section
              a(href='#') Main Desktop / Mobile
            li.section
              a(href='#') Destination Kors Tertiary
            li.section
              a(href='#') Footer Desktop / Mobile
            li.section
              a(href='#') Bread Crumbs
            li.section
              a(href='#') Categoryies
        li.subcategory
          a(href='#')
            | Buttons / Links / Icons
          ul#buttons  
            li.section
              a(href='#') Desktop
            li.section
              a(href='#') Social
        li.subcategory
          a(href='#')
            | Selectors
          ul#selectors
            li.section
              a(href='#') Thumbnails on PDP
            li.section
              a(href='#') Swatch colors PDP
            li.section
              a(href='#') Checkboxes
            li.section
              a(href='#') Radio buttons
            li.section
              a(href='#') Dropdowns
        li.subcategory
          a(href='#')
            | Controls
          ul#controls
            li.section
              a(href='#') Accordions
            li.section
              a(href='#') Tabs
            li.section
              a(href='#') Carousel Button
            li.section
              a(href='#') Filter / Sort
            li.section
              a(href='#') Back to Top
        li.subcategory
          a(href='#')
            | App
          ul#app
            li.section
              a(href='#') Navigation
            li.section
              a(href='#') App-specific button styles
        li.subcategory
          a(href='#')
            | Modals / Tooltips
          ul#modals-tooltips
            li.section
              a(href='#') Generic option
            li.section
              a(href='#') Quick View
            li.section
              a(href='#') What's This
            li.section
              a(href='#') Find Store
            li.section
              a(href='#') Check Balance
