#sidebar-wrapper
  a#home-logo(href='#')
    img#main-logo(src='images/logo-mk.png')
    img#guide-title(src='images/logo-digital-guide.png')
  
  ul#main-nav.nav.sidebar-nav
    li.category
      a.toggle(href='#')
        | IDENTITY
      ul#identity.inner
        li.subcategory
          a.toggle(href='#')
            | Logos
          ul#logos.inner
            li.nav-item.section
              a.nav-link(href='#logo-michael-kors') Michael Kors
            li.nav-item.section
              a.nav-link(href='#logo-mmk') Michael Michael Kors
            li.nav-item.section
              a.nav-link(href='#logo-collection') Michael Kors Collection
            li.nav-item.section
              a.nav-link(href='#logo-dot-com') MichaelKors.com
              
        li.subcategory
          a.toggle(href='#')
            | Branded Elements
          ul#branded-elements.inner
            li.nav-item.section
              a.nav-link(href='#branded-signatures') Signatures (3X)
            li.nav-item.section
              a.nav-link(href='#branded-exclusively-ours') Exclusively Ours / badge
            li.nav-item.section
              a.nav-link(href='#branded-mmh') Michael's Must Haves / badge
              
        li.subcategory
          a.toggle(href='#')
            | Color
          ul#color.inner
            li.nav-item.section
              a.nav-link(href='#color-primary') Primary
            li.nav-item.section
              a.nav-link(href='#color-secondary') Secondary
            li.nav-item.section
              a.nav-link(href='#color-background') Background Colors

        li.subcategory
          a.toggle(href='#')
            | Typography
          ul#typography.inner
            li.nav-link.section
              a.nav-item(href='#typography-primary') Primary

        li.subcategory
          a.toggle(href='#')
            | Photography
          ul#photography.inner
            li.section
              a(href='#photography-portraits') Michael's Portraits
            li.section
              a(href='#photography-grid') Grid

        li.subcategory
          a.toggle(href='#copy') Copy

    li.category
      a.toggle(href='#')
        | TEMPLATES
      ul#templates.inner
        li.subcategory
          a.toggle(href='#')
            | Desktop
          ul#desktop.inner
            li.section
              a(href='#templates-desktop-homepage') Homepage
            li.section
              a(href='#templates-desktop-plp') PLP

        li.subcategory
          a.toggle(href='#')
            | Mobile
          ul#mobile.inner
            li.section
              a(href='#templates-mobile-homepage') Homepage
            li.section
              a(href='#templates-mobile-plp') PLP

        li.subcategory
          a.toggle(href='#')
            | Email
          ul#email.inner
            li.section
              a(href='#templates-email-nav') Nav + Drop Shadow
            li.section
              a(href='#templates-email-footer') Footer
            li.section
              a(href='#templates-email-ebm') EBM Templates

    li.category
      a.toggle(href='#')
        | USER INTERFACE
      ul#user-interface.inner
        li.subcategory
          a.toggle(href='#')
            | Navigation
          ul#navigation.inner
            li.section
              a(href='#ui-navigation-eu') European Considerations
            li.section
              a(href='#ui-') Sticky Top Nav
            li.section
              a(href='#') Sticky Bottom Nav
            li.section
              a(href='#') Main Desktop / Mobile
            li.section
              a(href='#') Destination Kors Tertiary
            li.section
              a(href='#') Footer Desktop / Mobile
            li.section
              a(href='#') Bread Crumbs
            li.section
              a(href='#') Categoryies

        li.subcategory
          a.toggle(href='#')
            | Buttons / Links / Icons
          ul#buttons.inner
            li.section
              a(href='#') Desktop
            li.section
              a(href='#') Social

        li.subcategory
          a.toggle(href='#')
            | Selectors
          ul#selectors.inner
            li.section
              a(href='#') Thumbnails on PDP
            li.section
              a(href='#') Swatch colors PDP
            li.section
              a(href='#') Checkboxes
            li.section
              a(href='#') Radio buttons
            li.section
              a(href='#') Dropdowns

        li.subcategory
          a.toggle(href='#')
            | Controls
          ul#controls.inner
            li.section
              a(href='#') Accordions
            li.section
              a(href='#') Tabs
            li.section
              a(href='#') Carousel Button
            li.section
              a(href='#') Filter / Sort
            li.section
              a(href='#') Back to Top

        li.subcategory
          a.toggle(href='#')
            | App
          ul#app.inner
            li.section
              a(href='#') Navigation
            li.section
              a(href='#') App-specific button styles

        li.subcategory
          a.toggle(href='#')
            | Modals / Tooltips
          ul#modals-tooltips.inner
            li.section
              a(href='#') Generic option
            li.section
              a(href='#') Quick View
            li.section
              a(href='#') What's This
            li.section
              a(href='#') Find Store
            li.section
              a(href='#') Check Balance
