doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300', rel='stylesheet')
    title Michael Kors UI/UX Prototypes
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/css/mk-bootstrap.css')
    link(rel='stylesheet', href='/css/brand-guidelines.css')
  body
    .container
      // Sidebar
      include _nav.jade

      // Content
      #style-guide-content(role='main')
        .row#introduction
          .col-md-12
            h1 
              | Welcome to the Michael Kors
              br
              | Digital Brand Guidelines
            
            p
              | Some copy here about when to use the Michael Kors logo. Some copy here about when to use 
              | the Michael Kors logo. Some copy here about when to use the Michael Kors logo. Some copy 
              | here about when to use the Michael Kors logo.  Some copy here about when to use the Michael 
              | Kors logo. Some copy here about when to use

        article#identity
          article#logos.subcategory
            h1 Logos
            
            article#logo-michael-kors
              h1 Michael Kors - Core Brand Logo
              
            article#logo-mmk
              h1 Michael Michael Kors
                  
            article#logo-collection
              h1 Michael Kors Collection
                
            article#logo-dot-com
              h1 MichaelKors.com
        
        
          article#branded-elements.subcategory
            h1 Branded Elements
            
            article#branded-signatures
              h1 Signatures (3X)
              
            article#branded-exclusively-ours
              h1 Exclusively Ours 
                  
            article#branded-mmh
              h1 Michael's Must Haves
          
          
          article#color.subcategory
            h1 Color
            
            article#color-primary
              h1 Primary
              
            article#color-secondary
              h1 Secondary
                  
            article#color-background
              h1 Background Colors
        
          article#typography.subcategory
            h1 Typography
            
            article#typography-primary
              h1 Primary
              
          article#photography.subcategory
            h1 Photography
            
            article#color-primary
              h1 Michael's Portraits
              
            article#color-secondary
              h1 Grid
              
        article#templates
          article#templates-desktop.subcategory
            h1 Desktop Templates
            
            article#templates-desktop-homepage
              h1 Homepage
              
            article#templates-desktop-plp
              h1 Product Listing Page
            
          article#templates-mobile.subcategory
            h1 Mobile Templates
            
            article#templates-mobile-homepage
              h1 Homepage
              
            article#templates-mobile-plp
              h1 Product Listing Page
          
          article#email.subcategory
            h1 Email Templates
            
            article#templates-email-nav
              h1 Nav + Drop Shadow
              
            article#templates-email-footer
              h1 Footer
                  
            article#templates-email-ebm
              h1 EBM Templates
        
              
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript and dependencies
    script(src='js/tether.min.js')  
    script(src='js/bootstrap.js')
      
    script.
      $(function() {
        $('a[href*="#"]:not([role="tab"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    
