@media screen and (max-width: $screen-xs-max){
  .footer-container {
    padding-bottom: 80px;
  }
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
}

.social-icon {
  width: 20px;
}


.footer-link {
  @extend .h4-light;
  line-height: 20px;
  color: $dark-grey;
  &:hover,
  &:active,
  &:visited {
    @extend .h4-light;
    color: $dark-grey;
    text-decoration: none !important;
  }
}

.social-icons {
  icon {
    font-size: 17px;
    &:not(:last-child){
      margin-right: 5px;
    }
  }
  @media (min-width: $screen-sm-min){
    text-align: left;
  }
}

@media (max-width: $screen-xs-max){
  .social-icons > a {
    icon{
      font-size: 25px;
      margin-right: 10px;
    }
  }
}

@media (max-width: $screen-xs-max){
  .padded-footer {
    padding-bottom: 90px;
  }

  .footer-link {
    font-size: 13px;
    &:hover,
    &:link,
    &:active,
    &:visited {
      font-size: 13px;
    }
  }

  .nav-links {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: $grey;
    }
  }
}

.country-selector-toggle {
  font-size: 20px;
  margin-right: 10px;
}

.country-selector {
  icon{
    margin-right: 10px;
    vertical-align: middle;
  }

  .country-selected:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\e617";
    text-align: left;
    left: -30px;
    text-decoration: none !important;
    height: calc(100% + 20px);
    overflow: hidden;
    @media(min-width: $screen-sm-min){
      left: -20px;
    }
  }
}
.desktop-footer-toggle-icon {
  right: 30px;
  top: 0px;
  color: $dark-grey;
  &:hover,
  &:active,
  &:link,
  &:visited {
    color: $dark-grey !important;
    text-decoration: none !important;
  }
}

.mobile-scroll-to-top {
  right: 10px;
  bottom: 40px;
  position: fixed;
  padding: 5px 10px 5px 10px;
  background-color: #eee;
  transition: opacity .25s ease-in-out;
}

.footer-customer-service {
  width: 165px;
  margin-left: auto;
  margin-right: auto;
}

.footer-my-account {
  width: 151px;
  margin-left: auto;
  margin-right: auto;
}
.footer-follow-us {
  width: 100px;
  margin-left: 20px;
  @media(min-width: $screen-md-min){
    margin-left: auto;
    margin-right: auto;
  }
}

#page-footer {
  background-color: $light-grey-2;
  @media (min-width: $screen-sm-min){
    background: linear-gradient(to bottom, rgba(213, 213, 213, 1) 0, rgba(233, 233, 232, 1) 9%, rgba(247, 247, 247, 1) 34%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e1ffffff', gradientType='0');
  }
}
