.fixed-header
header#global
  .logo
    img(src="/img/black_logo_2.png")

  nav#main-nav
    ul
      li(data-menu="women")
        a(href="/women") Women
      li(data-menu="men")
        a(href="#") Men
      li(data-menu="handbags")
        a(href="#") Handbags
      li(data-menu="shoes")
        a(href="#") Shoes
      li(data-menu="watches")
        a(href="#") Watches
      li(data-menu="accessories")
        a(href="#") Accessories
      li(data-menu="gifts")
        a(href="#") Gifts
      li(data-menu="sale")
        a(href="/sale") Sale
      li(data-menu="destination-kors", class="dk")
        a(href="#") Destination Kors
      li(data-menu="search")
        a(href="#") Search
          i.icon-search

    .dropdown
      .dd-inner
        
  .menu-contents
    #accessories: img(src="/images/menu-accessories.jpg")
    #gifts: img(src="/images/menu-gifts.jpg")
    #handbags: img(src="/images/menu-handbags.jpg")
    #men: img(src="/images/menu-mens.jpg")
    #sale: img(src="/images/menu-sale.jpg")
    #shoes: img(src="/images/menu-shoes.jpg")
    #watches: img(src="/images/menu-watches.jpg")
    #women: img(src="/images/menu-women.jpg")
    #desination-kors: img(src="/images/menu-dk.png")
    #search: img(src="/images/menu-search.png")
