doctype html
html
  head
    title Michael Kors UI/UX Prototypes
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='css/checkout/vendor.min.css')
    link(rel='stylesheet', href='css/checkout/main.min.css')
    link(rel='stylesheet', href='css/toc.min.css')
        
  body
    .container
      .row.row--push-50
        h1.text-center MK.com UI / UX Prototypes: Table of Contents
      
      .row
        h2 Exposed Filters
        h3 Prototype
        ul
          li
            a.link-secondary(href='/women') - Filters Main (Collection -> New Arrivals)
          li
            a.link-secondary(href='/sale') - Filters w/nested tabs (Sale -> View All Sale)
        
      .row
        h2 Dynamic Size Guide
        h3 Prototype
        ul
          li
            a.link-secondary(href='/size-guide/scrolling-table') - Dynamic Size Guide
      
      .row
        h2 Checkout
        h3 Modified Header and Footer Prototype
        ul
          li
            a.link-secondary(href='/shopping-bag') - Shopping Bag
          li
            a.link-secondary(href='/checkout') - Checkout
